html,
body {
    font-family: 'Josefin Slab', serif;
    font-size        : 20px;
    color            : #000;
    margin           : 0;
    padding          : 0;
    height           : 100%;
    overflow         : auto;
}


a {
    font-family: 'Cinzel Decorative', cursive;
    color: red;
    text-decoration : none;
    border-bottom   : 1px #aaa;
}
p {
    margin-top    : 15px;
    margin-bottom : 15px;
    line-height: 25px;
}

#wrapper {
    width          : 900px;
    margin-left    : auto;
    margin-right   : auto;
    padding-bottom : 100px;
    height         : 100%;
    padding-top    : 30px;
    border-left    : 1px solid #aaa;
    border-right   : 1px solid #aaa;
}

#story {
    display: none;
}

#host {
    width            : 700px;
    margin-left      : auto;
    margin-right     : auto;
}

#title {
    font-family: 'Cinzel Decorative', cursive;
    font-size     : 24px;
    font-weight   : bold;
    margin-bottom : 10px;
    width         : 500px;
    margin-left   : auto;
    margin-right  : auto;
    text-align    : center;
}

#interactionHost {
    position      : absolute;
    overflow      : auto;
    margin        : 0;
    border-bottom : none;
    height        : 24px;
    background    : #fff;
    border        : 1px solid #aaa;
}
#interactionHost ul,
#inventoryHost ul {
    display : block;
    margin  : 0;
    padding : 0;
}
#interactionHost li,
#inventoryHost li {
    float           : left;
    margin          : 0;
    padding         : 0;
    margin-right    : 10px;
    list-style-type : none;
}
#inventoryHost li {
    text-align: center;
    width: 150px;
}
#inventoryHost {
    overflow: auto;
}
#inventoryHostWrapper {
    width       : 150px;
    float       : left;
    margin-left : 50%;
    left        : 500px;
    position    : absolute;
}
#inventoryHostWrapper h2 {
    font-family: 'Cinzel Decorative', cursive;
    font-size     : 18px;
    width         : 150px;
    text-align    : center;
    margin        : 0;
    margin-bottom : 20px;
}

#footer {
    bottom    : 10px;
    font-size : 12px;
    position  : fixed;
    right     : 20px;
}
#undoStageHost {
    display: none;
}

h3 {
    font-family: 'Cinzel Decorative', cursive;
  }
